$theme-style: 'square'; 
$theme-type:  'default'; 

$component-colors: (
    "primary":(base:#46BE8A,font:#FFF),
    "white":    (base:#ffffff, font: #666),
    "default":  (base:#e1e5ec, font: #76838f),
    "dark": (base:#2f353b, font: #FFFFFF),
    "blue": (base:#3598dc, font: #FFFFFF),
    "green":    (base:#32c5d2, font: #FFFFFF),
    "grey": (base:#E5E5E5, font: #333333),
    "red": (base:#e43a45, font: #ffffff),
    "yellow":   (base:#F4D03F, font: #ffffff),
    "purple":    (base:#BF55EC, font: #ffffff),
);

@import '../global/components/_reset-rounds'; 
@import '../global/_components';   

@import '../global/_plugins';   