html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#sidebar{
	overflow: inherit;
}
#hidemenu{
	display: none;
	position: fixed;
    right: 10px;
    top: 50px;
    background: #d11718;
    color: #FFF;
    padding: 10px;
    border-radius: 0;
    z-index: 9999;
    border-radius: 20px;
}
#hidemenu a{color: #FFF;}
.notiveViewTitle{
	color: red;
}
.red{
	color: red;
}
.notiveDetailTitleCon{
	border-bottom: 1px dashed #efefef;
}
.notifyContent{
	margin-bottom: 10px;
}
.notiveDetailTitle{
	float: left;
	font-size: 18px;
}
.notiveDetailAttribute{
	float: right;
	font-size: 14px;
	position: relative;
	top: 12px;
}
.notiveDetailFileCon{
	padding-top: 10px;
}
#notiveFileList{
	font-size: 12px;
}
#notiveFileList i{font-size: 20px;margin-right: 6px;}
#notiveFileList p{margin-bottom: 15px;padding-left: 20px;}
