/*
 * 合同履行工作台 首页
 */
.page-content-worktable{
//  background: #eee;
}
.underline{
    text-decoration: underline;
}
.portlet-worktable{
    overflow: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 14px;
    border-top: 2px solid #DBDBDB !important;
    margin-bottom: 6px;
    i{margin-right: 4px;font-size: 20px;position: relative;top: 1px;color: #D11718;}
    .portlet-title .caption{padding: 6px 0;}
    .portlet-title{border: none;}
}
//收入类角色 图表
.incomeOverviewDom,.incomeAnalysisDom{
    height: 300px;
    position: relative;
    font-size: 12px;
} 
#incomeOverviewReceivable,#incomeOverviewReceived{
    height: 280px;
    width: 50%;
    float: left;
}
#incomeAnalysis{
    height: 300px;
}
.chartsNote{
    position: absolute;
    bottom: -5px;
    right: 10px;
}

//收入类表格
.showMore{
    float: right;
    margin-right: 10px;
}
#emphasisRadio{
    padding-left: 10px;
//  padding-bottom: 10px;
    .ui-radio{padding-left: 25px;top: 5px;}
}

//支出类角色 图表
.expentOverviewDom{
    height: 300px;
    position: relative;
    font-size: 12px;
    box-sizing: border-box;
}
.chartsDom{
    width: 50%;
    height: 280px;
    overflow: auto;
    float: left;
    position: relative;
}
.chartsDom:first-of-type{
    border-right: 1px solid #eeeeee;
}
.chartsContent{
    height: 100%;
    width: 300px;
    margin:0 auto;
}
.chartsValue{
    width:80px;
    height: 32px;
    position: absolute;
    top: 126px;
    left: 50%;
    margin-left: -40px;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
}

//支出类表格
.pageSearch{
    margin-bottom: 10px;
}
.pageSearch{
    margin-bottom: 10px;
}
.pageSearch button i{
    font-size: 16px;
}
.table-title{
    text-align: center;
    font-weight: bold;
}

#chooseScope{
    background: #d11718;
    height: 34px;
    padding-right: 10px;
    position: fixed;
    right: 0;
    top: 20px;
    z-index: 99;
    padding-left: 8px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    .scopeTitle{
        display: inline-block;
        line-height: 34px;
        position: relative;
        top: -4px;
    }
    i{
        line-height: 34px;
        font-size: 24px;
    }
}
#chooseScope:hover{
    #scopMenu{
        display: block;
    }
}
#scopMenu{
    display: none;
    position: absolute;
    top: 34px;
    right: 4px;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background: #fff;
    padding: 4px 0;
    .scopMenu-header{
        padding-left: 6px;
        i{
            margin-right: 2px;
            line-height: 10px;
            font-size: 16px;
        }
    }
    .scopMenu-header:hover{
        background: #fff;
    }
    li{
        white-space:nowrap;
        text-align: left;
        padding: 4px 14px 4px 24px;
        color: #6e6e6e;
    }
    li:hover{
        background: #fee188;
    }
    .choosed{
        color: red;
    }
    .isDisabled:hover{
        cursor: not-allowed;
    }
}
.scopeLi {
  display: inline-block;
}

.scope-left,
.scope-rigth,
.scope-center {
  float: left;
}
.scope-left,
.scope-rigth {
  width: 46%;
  padding: 0 10px;
}
.scope-center {
  width: 8%;
  padding-top: 100px;
}
.scope-center button {
  margin-bottom: 20px;
}
.scope-selectCon {
  height: 280px;
  overflow: auto;
  border: 1px solid #ceadad;
  border-radius: 3px;
  background: #fff;
  padding: 10px 0;
}
.scope-selectCon .scopeItem {
  display: block;
  text-align: left;
  padding-left: 16px;
  font-size: 12px;
  line-height: 26px;
}
.scope-selectCon .scopeItem:hover {
  background: #c1c7f5;
  cursor: pointer;
}
.scope-selectCon .scopeItem.selected {
  background: rgba(0, 0, 255, 0.25);
}