/*
 * 合同履行工作台 首页
 */
.page-content-worktable {
  background: #eee;
}
.underline {
  text-decoration: underline;
}
.portlet-worktable {
  overflow: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 14px;
  border-top: 2px solid #D11718 !important;
  margin-bottom: 6px;
}
.portlet-worktable i {
  margin-right: 4px;
  font-size: 20px;
  position: relative;
  top: 1px;
  color: #D11718;
}
.portlet-worktable .portlet-title .caption {
  padding: 6px 0;
}
.portlet-worktable .portlet-title {
  border: none;
}
.incomeOverviewDom,
.incomeAnalysisDom {
  height: 300px;
  position: relative;
  font-size: 12px;
}
#incomeOverviewReceivable,
#incomeOverviewReceived {
  height: 280px;
  width: 50%;
  float: left;
}
#incomeAnalysis {
  height: 300px;
}
.chartsNote {
  position: absolute;
  bottom: -5px;
  right: 10px;
}
.showMore {
  float: right;
  margin-right: 10px;
}
#emphasisRadio {
  padding-left: 10px;
}
#emphasisRadio .ui-radio {
  padding-left: 25px;
  top: 5px;
}
.expentOverviewDom {
  height: 300px;
  position: relative;
  font-size: 12px;
  box-sizing: border-box;
}
.chartsDom {
  width: 50%;
  height: 280px;
  overflow: auto;
  float: left;
  position: relative;
}
.chartsDom:first-of-type {
  border-right: 1px solid #eeeeee;
}
.chartsContent {
  height: 100%;
  width: 300px;
  margin: 0 auto;
}
.chartsValue {
  width: 80px;
  height: 32px;
  position: absolute;
  top: 126px;
  left: 50%;
  margin-left: -40px;
  font-size: 20px;
  text-align: center;
  line-height: 32px;
}
.pageSearch {
  margin-bottom: 10px;
}
.pageSearch {
  margin-bottom: 10px;
}
.pageSearch button i {
  font-size: 16px;
}
.table-title {
  text-align: center;
  font-weight: bold;
}
