#goTaskToDoDetailForToDo,
#goTaskToDoDetailForDone,
.full-height-content-body,
.ifr-tab-content,
.ifr-tabpanel {
	height: 100%;
}

.ifr-portlet {
	height: 100%;
	position: relative;
}

.ifr-portlet-body {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
}

.tabbable-line .nav-tabs {
	border: none;
	margin-bottom: 1px;
}

.tabbable-line .nav-tabs>li>a {
	border: none;
}

.tabbable-line .nav-tabs>li.active {
	border-top: none;
	border-bottom: 4px solid #d11718;
}

.tabbable-line .nav-tabs>li>a:hover {
	background: none;
	border: none;
	border-bottom: 4px solid #e69c9c;
}

.tabbable-line .nav-tabs>li.active>a,
.tabbable-line .nav-tabs>li.active>a:focus,
.tabbable-line .nav-tabs>li.active>a:hover {
	border: none;
}


/*
 * 云门户等待登录
 */

.loadEffect {
	width: 100px;
	height: 100px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 999;
	margin: -60px 0 0 -50px;
}

.textValue {
	position: fixed;
	top: 50%;
	left: 50%;
	font-size: 16px;
	font-family: "微软雅黑";
	margin-left: -130px;
}

@-webkit-keyframes loadEffect {
	50% {
		transform: scale(0.4);
		opacity: .4;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.loadEffect i {
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #333;
	position: absolute;
}

.loadEffect i:nth-child(1) {
	top: 25px;
	left: 0;
	-webkit-animation: loadEffect 1s ease 0s infinite;
}

.loadEffect i:nth-child(2) {
	top: 17px;
	left: 17px;
	-webkit-animation: loadEffect 1s ease -0.12s infinite;
}

.loadEffect i:nth-child(3) {
	top: 0px;
	left: 25px;
	-webkit-animation: loadEffect 1s ease -0.24s infinite;
}

.loadEffect i:nth-child(4) {
	top: -17px;
	left: 17px;
	-webkit-animation: loadEffect 1s ease -0.36s infinite;
}

.loadEffect i:nth-child(5) {
	top: -25px;
	left: 0;
	-webkit-animation: loadEffect 1s ease -0.48s infinite;
}

.loadEffect i:nth-child(6) {
	top: -17px;
	left: -17px;
	-webkit-animation: loadEffect 1s ease -0.6s infinite;
}

.loadEffect i:nth-child(7) {
	top: 0px;
	left: -25px;
	-webkit-animation: loadEffect 1s ease -0.72s infinite;
}

.loadEffect i:nth-child(8) {
	top: 17px;
	left: -17px;
	-webkit-animation: loadEffect 1s ease -0.84s infinite;
}