#goTaskToDoDetailForToDo,
#goTaskToDoDetailForDone,
.full-height-content-body,
.ifr-tab-content,
.ifr-tabpanel {
  height: 100%;
}
.ifr-portlet {
  height: 100%;
  position: relative;
}
.ifr-portlet-body {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}
.tabbable-line .nav-tabs {
  border: none;
  margin-bottom: 1px;
}
.tabbable-line .nav-tabs > li > a {
  border: none;
}
.tabbable-line .nav-tabs > li.active {
  border-top: none;
  border-bottom: 4px solid #d11718;
}
.tabbable-line .nav-tabs > li > a:hover {
  background: none;
  border: none;
  border-bottom: 4px solid #e69c9c;
}
.tabbable-line .nav-tabs > li.active > a,
.tabbable-line .nav-tabs > li.active > a:focus,
.tabbable-line .nav-tabs > li.active > a:hover {
  border: none;
}
