.page-content {
  padding-top: 0;
}
.editFromBtn {
  width: 99%;
  height: 46px;
  padding-top: 10px;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 99;
}
.editFromBtn button {
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  text-align: center;
  margin: 0 5px 5px;
}
.portlet {
  margin-top: 46px;
}
#infoTab {
  width: 100%;
  margin: 10px 0 0;
}
.infoTabTitle {
  color: #888;
  font-size: 18px;
  cursor: pointer;
}
.step {
  margin: 0 10px;
  color: #888;
}
.check {
  color: #333;
}
.workOrderInfor {
  float: right;
  color: #888;
  font-size: 12px;
  margin: 18px 20px 0 0;
}
.marginTop24 {
  margin-top: 24px;
}
.marginLeft25 {
  margin-left: 25px;
}
.floatR {
  float: right;
}
