.paddingLR0 {
  padding-left: 0;
  padding-right: 0;
}
.clues {
  padding: 20px 32px;
}
.cluesRed {
  color: red;
  padding-left: 32px;
}
.required {
  color: red;
}
.floatR {
  float: right;
}
.mLR5 {
  margin: 0 5px;
}
.marL30 {
  margin-left: 30px;
}

/*
 * 工单编辑
 */
.defaultFieldsetForm .form-group > .otherPartyParent{
  width: 85%;
}
#partyMore{
    width: 13%;
}
.tableToobarContent{
    margin-bottom: 10px;
}
.table-align td,.table-align th{
    text-align: center;
}
#contractOverviewForm{
    position: relative;
    padding-top: 20px;
}
#contractOverViewTitle{
    position: absolute;
    right:  20px;
    top: -10px;
}
#wcardNumber{
    margin-right: 15px;
}
#invoiceTbody .form-group,#payeeInfoTbody .form-group,#payerInfoTbody .form-group,#incomeLinerentTable .form-group{
    margin-bottom: 0;
    input{
        text-align: center;
    }
}
#incomeLinerentTable{
    margin-bottom: 0;
}
#relatedWcardNumber{
    padding-top: 6px;
    height: 34px;
    display: block;
}
#appointTypeOtherContent{
    height: 34px;
}
