.tipss{
    width: 200px;
    height: 150px;
    border: 1px solid #efefef;
    position: fixed;
    top: 50%;
    left: 50%;
    background: #f66;
}
.clues {
  padding: 10px 32px;
}
.cluesRed {
  color: red;
  padding-left: 32px;
}
.contractDocSty{
    float:  left;
    margin: 7px 20px 0 10px;
}
#effectiveDate,#expiryDate{
    cursor: pointer;
    background: #FBFBFB url(/static/img/calendar.png?t=1541057817870) no-repeat right;
}
#contractAttachment{
    margin-top: 20px;
}
.required {
  color: red;
}
.floatR {
  float: right;
}
.mLR5 {
  margin: 0 5px;
}
.marL30 {
  margin-left: 30px;
}

/*
 * 工单编辑
 */
#toolbarBtn{
    height: 120px;
    .wcardTypeTitle,.wcardTypeContent{
        text-align: center;
    }
    .wcardTypeTitle{
        font-size: 24px;
    }
    .wcardTypeContent{
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 16px;
    }
    .wcardTypeMenu{
        border-bottom: 4px solid #dc2a32;
    }
    button{
        padding-top: 4px;
        padding-bottom: 4px;
    }
}
#wcardTypeMenuContent{
    button{
        margin: 0 4px 0 3px;
        padding-top: 2px;
        padding-bottom: 2px;
        border: 2px solid #dc2a32;
        border-bottom: none;
        border-radius: 4px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}
.contractPortletTitle{
    float: right;
}
.contractPortletPageTitle{
    position:  relative;
    bottom:  18px;
    right: 20px;
}
#contractFeasorToolbar{
    margin-top: 5px;
}
.wcardNumber{
    margin-right: 15px;
}
#flowLable{
    margin-right: 15px;
}
#wcardTagContent{
    margin-bottom: 5px;
}
.defaultFieldsetForm .form-group > .otherPartyParent{
  width: 85%;
}
#partyMore{
    width: 13%;
}
.tableToobarContent{
    margin-bottom: 10px;
}
#invoiceTbody .form-group,#payeeInfoTbody .form-group,#payerInfoTbody .form-group,#incomeLinerentTable .form-group{
    margin-bottom: 0;
    input{
        text-align: center;
    }
}
#incomeLinerentTable{
    margin-bottom: 0;
}
.relatedWcardNumber{
    padding-top: 6px;
    height: 30px;
    display: block;
}
.appointTypeOtherContent{
    height: 30px;
}
#feasorChecked,#customerManagerChecked{
    border: 1px solid #EFEFEF;
    overflow: auto;
    width: 45%;
    float: left;
}
#feasorTreeLeftCotent,#customerLeftContent{
    width: 45%;
    float: left;
    border: 1px solid #EFEFEF;
}
#feasorTreeCotent,#customerManagerCotent{
    width: 100%;
    overflow: auto;
}
#feasorTreeInputGroup,#customerManagerInputGroup{
    margin: 10px 0 10px 10px;
    width: 95%;
}
#feasorCheckTool,#customerManagerCheckTool{
    width: 10%;
    float: left;
    button{
        width: 65%;
        font-size: 22px;
        line-height: 22px;
        margin-left: 16%; 
        &:nth-child(1){
            margin-top: 100px;
        }
        &:nth-child(2){
            margin-top: 30px;
        }
    }
}
#feasorChecked,#customerManagerChecked{
    padding: 20px;
    .feasorItem,.customerManagerItem{
        height: 24px;
        line-height: 24px;
        span{
            cursor: pointer;
            padding: 0 5px;
        };
        span.feasorCheck,span.customerManagerCheck{
            color: #fff;
            background: #af1822;
        }
    }
}
#workOrderMenu{
    list-style: none;
//  padding-left: 120px;
    position: fixed;
    right: 16px;
    bottom: 10px;
    li{
        width: 30px;
        height: 30px;
        display: block;
        text-align: center;
        line-height: 30px;
        margin-bottom: 5px;
        color: #ccc;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 5px;
        filter:alpha(opacity=80);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8;
        i{
            font-size: 20px;
        }
        &:hover{
            background: #b7b7b7;
            border: 1px solid #b7b7b7;
            color: #fff;
            filter:alpha(opacity=100);
            -moz-opacity: 1;
            -khtml-opacity: 1;
            opacity: 1;
        }
    }
}
.tableToobarContent{
    button{
        margin-right: 5px;
    }
}
#validity .dataInputGroup{
    padding: 5px;
    .mar0pad15{
        padding: 0 15%;
        margin: 0;
        input{
            height: 28px;
            text-align: center;
            padding: 0;
        }
    }
}
 
