.paddingLR0 {
  padding-left: 0;
  padding-right: 0;
}
.clues {
  padding: 20px 32px;
}
.cluesRed {
  color: red;
  padding-left: 32px;
}
.required {
  color: red;
}
.floatR {
  float: right;
}
.mLR5 {
  margin: 0 5px;
}
.marL30 {
  margin-left: 30px;
}

/*
 * 工单编辑
 */
.defaultFieldsetForm .form-group > .otherPartyParent{
  width: 85%;
}
#partyMore{
    width: 13%;
}
.feasorContent{
    margin-top: 10px;
    margin-bottom: 15px;
}
.table-align td,.table-align th{
    text-align: center;
}
