#approve_date_begin {
  padding: 0px 0px;
}
#approve_date_end {
  padding: 0px 0px;
}
#create_date_begin {
  padding: 0px 0px;
}
#create_date_end {
  padding: 0px 0px;
}
#sealAndSign_date_begin {
  padding: 0px 0px;
}
#sealAndSign_date_end {
  padding: 0px 0px;
}