.commonModalTableBody{
    padding-left: 0;
    padding-right: 0;
    .pageSearchContent{
        padding: 0 25px;
    }
    .tableContent{
        padding: 0 25px;
        overflow: auto;
    }
}
#ourSubjectTableDom{
    overflow: auto;
}