
$theme-style: 'square'; 
$theme-type:  'default';

$component-colors: (
    "primary":(base:#dc2a32,font:#FFF),
    "white":    (base:#ffffff, font: #666),
    "default":  (base:#e1e5ec, font: #76838f),
    "dark": (base:#2f353b, font: #FFFFFF),
    "blue": (base:#3598dc, font: #FFFFFF),
    "blue-madison": (base:#578ebe, font: #FFFFFF),
    "green":    (base:#32c5d2, font: #FFFFFF),
    "grey-steel":   (base:#e9edef, font: #80898e),
    "grey-salt":    (base:#bfcad1, font: #FAFCFB),
    "grey": (base:#E5E5E5, font: #333333),
    "red": (base:#e43a45, font: #ffffff),
    "yellow":   (base:#ffcc33, font: #ffffff),
    "purple":    (base:#BF55EC, font: #ffffff),
);

@import 'global/_components';   

@import 'global/_plugins';