.detailTitle {
  float: left;
  margin-top: 15px;
}
.modalNavTab {
  margin-bottom: 0;
}
.modalNavTab li {
  float: right;
}
.tab-content {
  overflow: hidden;
  border: 1px solid #ddd;
  border-top: none;
  padding: 20px 0;
  margin-bottom: 30px;
}
