.paddingLR0{
    padding-left: 0;
    padding-right: 0;
}
.clues{
    padding:20px 32px;
}
.cluesRed{
    color: red;
    padding-left: 32px;
}

#approveDateBegin{
       padding: 0px 0px;
}
#approveDateEnd{
    padding: 0px 0px;
}

