.portlet-body {
  overflow: hidden;
  min-height: 350px;
  position: relative;
  padding-bottom: 8px;
}
.dictTreeContent,
.premissionTreeContent {
  overflow: auto;
}
.dictHeightBorder {
  position: absolute;
  width: 1px;
  background: #EEF1F5;
  top: 8px;
  bottom: 0px;
  left: 25%;
}
.permHeightBorder {
  position: absolute;
  width: 1px;
  background: #EEF1F5;
  top: 8px;
  bottom: 0px;
  left: 32%;
}
#permissionShow {
  margin-top: 20px;
}
#permissionShow .form-control-static {
  margin-top: 0px;
}
.portlet-title-per {
  margin-top: 10px;
}
/*若表格具有横向滚动条,或者固定列需加此项*/
.dataTables_wrapper .table tr th {
  white-space: nowrap;
}
.dataTables_wrapper .table tr td {
  white-space: nowrap;
}
